<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar *ngIf="toggled" [(ngModel)]="searchTerm" [showCancelButton]="true" (ionCancel)="toggleSearch()" (ionInput)="filterItems()" placeholder="Digite sua busca..." animated></ion-searchbar>
    <!-- Search Icon -->
    <ion-buttons end *ngIf="!toggled">
      <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=150>
    <ion-refresher-content pullingIcon="ios-arrow-dropdown-outline" refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let feed of feeds" (swipe)="swipeEvent($event, feed)">

    <div *ngIf="feed.img != null" class="image-wrapper">
      <img class="center" (click)="itemSelected(feed)" [src]="feed.img" />
    </div>

    <ion-card-content (click)="itemSelected(feed)" (swipe)="swipeEvent($event, feed)">
      <ion-card-title>
        {{feed.post_title}}
      </ion-card-title>
      <p [innerHTML]="feed.post_excerpt" id="justify"></p>
      <div class="post-data">
        <span>por {{feed.post_author}}</span>
        <br />
        <ion-icon name="ios-clock-outline"></ion-icon><span [innerHTML]="feed.post_date" class="data_e_hora"></span>
      </div>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" (click)="saveItem(feed.ID)" icon-left>
          <ion-icon name='bookmark'></ion-icon>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="primary" (click)="itemSelected(feed)" icon-left>
          <ion-icon name='more'></ion-icon>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small (click)="otherShare(feed.post_excerpt, feed.post_title, feed.url)" color="primary" icon-left>
          <ion-icon name='share-alt'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
